@import "tailwindcss";


@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

.font-one{
    font-family: Outfit;
}
.bgd{
    background-image: url(../_.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}