@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&family=Outfit:wght@100..900&family=Teko:wght@300..700&display=swap");
@import "tailwindcss";

.font-one {
  font-family: "Outfit";
}
.font-two {
  font-family: Teko;
}
.font-three{
  font-family: "Cinzel";
}
.bgd {
  background-image: url(../_.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@keyframes shuffle {
  0%, 100% {
    border: 4px solid rgba(128, 0, 128, 0.871);
    box-shadow: 0 0 20px rgba(128, 0, 128, 0.7), inset 0 0 10px rgba(128, 0, 128, 0.3);
  }
}

/* RHYTHM RULES:
   Next Delay = Current Delay + Current Duration 
*/

.box1 {
  animation: 
    shuffle 0.08s linear 0s,      /* Step 1 */
    shuffle 0.08s linear 0.48s,   /* Step 7 */
    shuffle 0.1s linear 1.1s,     /* Step 13... and so on */
    shuffle 0.2s linear 2.1s,
    shuffle 0.4s linear 3.8s,
    shuffle 0.8s linear 7.0s,
    shuffle 1.5s linear 13.3s forwards; /* FINAL WINNER */
}

.box2 {
  animation: 
    shuffle 0.08s linear 0.08s,    /* Step 2 */
    shuffle 0.08s linear 0.56s,    /* Step 8 */
    shuffle 0.1s linear 1.2s,
    shuffle 0.2s linear 2.3s,
    shuffle 0.5s linear 4.2s,
    shuffle 0.9s linear 7.8s;
}

.box3 {
  animation: 
    shuffle 0.08s linear 0.16s,    /* Step 3 */
    shuffle 0.08s linear 0.64s,    /* Step 9 */
    shuffle 0.12s linear 1.3s,
    shuffle 0.25s linear 2.5s,
    shuffle 0.6s linear 4.7s,
    shuffle 1.0s linear 8.7s;
}

.box4 {
  animation: 
    shuffle 0.08s linear 0.24s,    /* Step 4 */
    shuffle 0.08s linear 0.72s,    /* Step 10 */
    shuffle 0.12s linear 1.42s,
    shuffle 0.3s linear 2.75s,
    shuffle 0.6s linear 5.3s,
    shuffle 1.1s linear 9.7s;
}

.box5 {
  animation: 
    shuffle 0.08s linear 0.32s,    /* Step 5 */
    shuffle 0.08s linear 0.8s,     /* Step 11 */
    shuffle 0.15s linear 1.54s,
    shuffle 0.3s linear 3.05s,
    shuffle 0.7s linear 5.9s,
    shuffle 1.2s linear 10.8s;
}

.box6 {
  animation: 
    shuffle 0.08s linear 0.4s,     /* Step 6 */
    shuffle 0.08s linear 0.88s,    /* Step 12 */
    shuffle 0.15s linear 1.69s,
    shuffle 0.35s linear 3.35s,
    shuffle 0.7s linear 6.6s,
    shuffle 1.3s linear 12.0s;
}